# Part 2 - Mapping Yelp Search Results

## Obective

- For this CodeAlong, we will be working with the Yelp API results from last class. 
- You will load in the .csv.gz of your yelp results and prepare the data for visualization.
- You will use Plotly Express to create an interactive map with all of the results.

## Tools You Will Use
- Part 1:
    - Yelp API:
        - Getting Started: 
            - https://www.yelp.com/developers/documentation/v3/get_started

    - `YelpAPI` python package
        -  "YelpAPI": https://github.com/gfairchild/yelpapi
- Part 2:

    - Plotly Express: https://plotly.com/python/getting-started/
        - With Mapbox API: https://www.mapbox.com/
        - `px.scatter_mapbox` [Documentation](https://plotly.com/python/scattermapbox/):

### Applying Code From
- [Advanced Transformations with Pandas - Part 1](https://login.codingdojo.com/m/376/12529/88086)
- [Advanced Transformations with Pandas - Part 2](https://login.codingdojo.com/m/376/12529/88088)

### Goal

- We want to create a map with every restaurant plotted as a scatter plot with detailed information that appears when we hover over a business
- We will use plotly express's `px.scatter_mapbox` function to accomplish this.
    - https://plotly.com/python/scattermapbox/
    
    - Some of the options require a Mapbox API token:
    - However, we will be using the options that DO NOT require a token.
        - https://studio.mapbox.com/

# Loading Data from Part 1

In [1]:
## Plotly is not included in your dojo-env
!pip install plotly

Requirement already satisfied: plotly in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from plotly) (8.2.2)

In [2]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json

## importing plotly 
import plotly.express as px

In [11]:
## Load in csv.gz

df = pd.read_csv('Data/final_results_IL_pizza.csv.gz')
df

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,ULg5fU6JTOCx4va9eUpjTQ,pizza-pushers-algonquin,Pizza Pushers,https://s3-media1.fl.yelpcdn.com/bphoto/Cs5k7Y...,False,https://www.yelp.com/biz/pizza-pushers-algonqu...,21,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 42.16317, 'longitude': -88.29628}",[],"{'address1': '644 S Main St', 'address2': '', ...",NaN,NaN,1826.303215,NaN
1,4pCvjmcFZMyPUIBqWsls2A,sals-pizza-company-algonquin,Sal's Pizza Company,https://s3-media2.fl.yelpcdn.com/bphoto/X5SBNj...,False,https://www.yelp.com/biz/sals-pizza-company-al...,208,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 42.176214, 'longitude': -88.31533}",['delivery'],"{'address1': '5 Hanson Rd', 'address2': '', 'a...",1.847659e+10,(847) 658-7272,1451.881180,$$
2,2Hzt_Z8SXBsDiOu2vWP0Kg,uncle-jerry-s-pizza-company-cary,Uncle Jerry’s Pizza Company,https://s3-media2.fl.yelpcdn.com/bphoto/8Jlb3l...,False,https://www.yelp.com/biz/uncle-jerry-s-pizza-c...,106,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 42.20837, 'longitude': -88.24259}",[],"{'address1': '133 W Main St', 'address2': '', ...",1.224889e+10,(224) 888-8663,8016.547087,$$
3,CftHLAdJj63kAVxYQDZehQ,dinos-pizza-and-pasta-lake-in-the-hills,Dino's Pizza & Pasta,https://s3-media3.fl.yelpcdn.com/bphoto/bpeElv...,False,https://www.yelp.com/biz/dinos-pizza-and-pasta...,67,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,"{'latitude': 42.190623, 'longitude': -88.331221}","['pickup', 'delivery']","{'address1': '6 Miller Rd', 'address2': '', 'a...",1.847658e+10,(847) 658-3300,3210.464471,$
4,sYwBAWlDCRe582S4ZfgKQg,woodfire-dundee-west-dundee-2,Woodfire Dundee,https://s3-media2.fl.yelpcdn.com/bphoto/UQrsVC...,False,https://www.yelp.com/biz/woodfire-dundee-west-...,130,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 42.0979661656296, 'longitude': -8...",['delivery'],"{'address1': '127 W Main St', 'address2': '', ...",1.847844e+10,(847) 844-0886,7987.399488,$$
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,DTc25oxDLvxJeV3wWWyFZQ,chilis-streamwood-3,Chili's,https://s3-media2.fl.yelpcdn.com/bphoto/0bqITS...,False,https://www.yelp.com/biz/chilis-streamwood-3?a...,82,"[{'alias': 'tex-mex', 'title': 'Tex-Mex'}, {'a...",3.0,"{'latitude': 42.015895470264, 'longitude': -88...","['pickup', 'delivery']","{'address1': '1041 Sutton Rd', 'address2': Non...",1.630483e+10,(630) 483-2352,18984.729695,$$
373,BAdDevvE7YYAdMe0BwSXtA,arbys-streamwood,Arby's,https://s3-media4.fl.yelpcdn.com/bphoto/TfsNxG...,False,https://www.yelp.com/biz/arbys-streamwood?adju...,21,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",3.0,"{'latitude': 42.0214042663574, 'longitude': -8...","['pickup', 'delivery']","{'address1': '520 S Sutton Rd', 'address2': No...",1.630498e+10,(630) 497-9109,18413.883793,$
374,PmEmQoPGkQKvd7B6JdCmpQ,taco-bell-elgin-3,Taco Bell,https://s3-media2.fl.yelpcdn.com/bphoto/y8XHZD...,False,https://www.yelp.com/biz/taco-bell-elgin-3?adj...,25,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",2.0,"{'latitude': 42.023532, 'longitude': -88.311785}","['pickup', 'delivery']","{'address1': '304 South McLean Blvd', 'address...",1.847608e+10,(847) 608-0842,15557.446433,$
375,es-46dK1zT2kYV6V-BfzxQ,apple-villa-cafe-hoffman-estates,Apple Villa Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/zaI92C...,False,https://www.yelp.com/biz/apple-villa-cafe-hoff...,230,"[{'alias': 'breakfast_brunch', 'title': 'Break...",3.5,"{'latitude': 42.079257, 'longitude': -88.140138}","['pickup', 'delivery']","{'address1': '3101 N Barrington Rd', 'address2...",1.847765e+10,(847) 765-2000,17424.771196,$$
376,O5ZltApu7Xq7umLZ4pXCTg,golden-corral-buffet-and-grill-elgin,Golden Corral Buffet & Grill,https://s3-media4.fl.yelpcdn.com/bphoto/ICq_0O...,False,https://www.yelp.com/biz/golden-corral-buffet-...,91,"[{'alias': 'buffets', 'title': 'Buffets'}, {'a...",2.0,"{'latitude': 42.0193983926583, 'longitude': -8...","['pickup', 'delivery']","{'address1': '601 S Randall Rd', 'address2': '...",1.847532e+10,(847) 531-7277,16073.849143,$$

## Required Preprocessing

- 1. We need to get the latitude and longitude for each business as separate columns.
- 2. We also want to be able to show the restaurants:
    - name
    - price
    - type of transactions (pickup/delivery/restaurant reservation)
    - address

### Separating Latitude and Longitude

In [12]:
## use .apply pd.Series to convert a dict to columns
df['coordinates'].apply(pd.Series)

                                                     0
0       {'latitude': 42.16317, 'longitude': -88.29628}
1      {'latitude': 42.176214, 'longitude': -88.31533}
2       {'latitude': 42.20837, 'longitude': -88.24259}
3     {'latitude': 42.190623, 'longitude': -88.331221}
4    {'latitude': 42.0979661656296, 'longitude': -8...
..                                                 ...
372  {'latitude': 42.015895470264, 'longitude': -88...
373  {'latitude': 42.0214042663574, 'longitude': -8...
374   {'latitude': 42.023532, 'longitude': -88.311785}
375   {'latitude': 42.079257, 'longitude': -88.140138}
376  {'latitude': 42.0193983926583, 'longitude': -8...

[377 rows x 1 columns]

- Why didn't that work???

In [ ]:
## slice out a single test coordinate
test_coord = None
test_coord

- Its not a dictionary anymore!!! What??
    - CSV files cant store iterables (lists, dictionaries) so they get converted to strings.

### Fixing the String-Dictionaries

- The json module has another version of load and dump called `json.loads` and `json.dumps`
    - These are designed to process STRINGS instead of files. 
    
- If we use `json.loads` we can convert our `string dictionary` into an `actual dictionary`.

In [ ]:
## Use json.loads on the test coordinate

### JSON requires double quotes!
We got a `JSON Decode Error` because JSON was `expecting double quotes` inside
of the dictionary

### We are now going to use the .replace( ) function to replace single ' with double "

In [ ]:
## replace single ' with double "

In [ ]:
## Use json.loads on the test coordinate, again

In [ ]:
# viewing type after using json.loads

### Now, how can we apply this same process to the entire column??

In [ ]:
## replace ' with " (entire column)

## apply json.loads

In [ ]:
## slice out a single test coordinate

### Using .apply with pd.Series to convert a dictionary column into multiple columns
This is the process of unpacking the dictionary to columns

In [ ]:
## use .apply pd.Series to convert a dict to columns
df['coordinates'].apply(pd.Series)

In [ ]:
## Concatenate the 2 new columns and drop the original.

### Activity -Padlet : Unpacking dictionary

- https://padlet.com/swhaley9/unpacking-dictionaries-d7mlgygcjtm0s4xs

## Creating a Simple Map

- Mapbox API: https://www.mapbox.com/
- Mapbox API Documentation: https://docs.mapbox.com/api/overview/

- Use the plotly express `scatter_mapbox` function

In [ ]:
## use scatter_mapbox for map

### Adding Hover Data

- We want to show the restaurants:
    - name
    - price range
    - rating
    - transaction type (delivery/takeout)
    - address
    
    
- We can use the `hover_name` and `hover_data` arguments for `px.scatter_mapbox` to add this info!

In [ ]:
## add hover_name (name) and hover_data for price,rating,location

### Fixing the Location Column

In [ ]:
## slice out a test address

> Also a string-dictionary...

In [ ]:
## replace ' with "
df['location'] = df['location'].str.replace("'", '"')
df

In [ ]:
## apply json.loads

> Ruh roh....

- Hmm, let's slice out a test_address again and let's write a function to accomplish this instead.
    - We can use try and except in our function to get around the errors.

### Fixing Addresses - with a custom function

In [ ]:
## slice out test address 
test_addr = df.loc[0, 'location']
test_addr

In [ ]:
## write a function to just run json.loads on the address

In [ ]:
## test applying our function

- It worked! Now let's save this as a new column (display_location),
and then let's investigate the businesses that had an "ERROR".

In [ ]:
### save a new display_location column using our function

In [ ]:
## filter for businesses with display_location == "ERROR"

In [ ]:
## slice out a new test address and inspect
test_addr = df.loc[437, 'location']
test_addr

> After some more investigation, we would find a few issues with these "ERROR" rows.
1. They contained None.
2. They contained an apostrophe in the name.
3. ...?

### Possible Fixes (if we care to/have the time)

- Use Regular Expressions to find an fix the display addresses with "'" in them
- Use string split to split on the word display address.
    - Then use string methods to clean up

### Moving Forward without those rows (for now)

In [ ]:
## remove any rows where display_location == 'ERROR'

- We want the "display_address" key from the "display_location" dictionaries.
- We could use a .apply and a lamda to slice out the desired key.

In [ ]:
## slice out a new test address and inspect

In [ ]:
## use apply and lambda to slice correct key

- Almost done! We want to convert display_address to a string instead a list of strings.
- We can use the string method .join to do so!

In [ ]:
## slice out a test_address

In [ ]:
## test using .join with a "\n"

In [ ]:
## apply the join to every row with a lambda

### Lastly, Fixing Transactions Column

In [ ]:
# Looking at a test transaction

- This is also a string and needs to be converted to a list.

In [ ]:
# Replacing single ' with double "

In [ ]:
# Using json.loads on saved_test

In [ ]:
# Applying transformations to entire column

# Create a new column where the single quotes are replaced with double quotes

# Apply json.loads to entire column

In [ ]:
# Converting transactions column into a one-hot-encoded column

In [ ]:
# remove NaNs and find unique values

In [ ]:
# Using a for loop with .str.contains to create new columns

### Final Map

In [ ]:
## make ourn final map and save as varaible

### Saving Final Figure

In [ ]:
## use fig.write_html to save map